<launch>
    <!-- This launches everything that is launched in RC_code.lauch, as well as the logic for autonomy.
    When it starts, the boat will automatically enter RC mode, enabling autonomy requires
    publishing Int16(2) to rostopic '/operating_mode'. Hopefully the web interface will soon allow this.
    -->

    <arg name="olin_robotics" default="false" />
    <env name="ROS_IP" value="192.168.17.130" if="$(arg olin_robotics)"/>
    <node name="setup" pkg="fit_pc_pkg" type="rosserial_wrapper.py" />
    <node name="arbiter" pkg="fit_pc_pkg" type="arbiter.py" />
    <node name="RC_master" pkg="fit_pc_pkg" type="RC-control-master.py" />
    <node name="test_master" pkg="fit_pc_pkg"
    type="publish_test_rudderCommands.py" />

    <node name="sensors" pkg="fit_pc_pkg" type="device_start.py" />
    <node name="sensorsMiddleman" pkg="fit_pc_pkg" type="sensor_middleman.py" />

    <node name="waypoint_handler" pkg="fit_pc_pkg" type="Waypoints.py" />
    <node name="rudder_thinking" pkg="fit_pc_pkg" type="rudder_thinking.py" />
    <node name="rudder_publisher" pkg="fit_pc_pkg" type="auto_rudder_publisher.py" />
    <node name="sail_thinking" pkg="fit_pc_pkg" type="auto_sail_publisher.py" />
    <node name="station_keeping" pkg="fit_pc_pkg" type="station_keep.py"/>
    
    <node name="websockets" pkg="rosbridge_server" type="rosbridge_websocket.py" />
</launch>
